html {
    background-image: url("../images/bg.jpg");
}

body {
    background-image: url("../images/bg_light.jpg");
    font-family: sans-serif;
    width: 1024px;
    min-height: 600px;
    margin: auto;
    color: #bf3030;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

img {
    border-width: 0;
}

div#title {
    text-align: center;
    padding-top: 20px;
}

div#small-body {
    width: 400px;
    margin: 50px auto auto;
    padding: 15px;
    border: 2px solid #679b00;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #ddd;
    text-align: right;
}

div#small-body h2 {
    margin-bottom: 10px;
    text-align: center;
}

div#small-body input.text {
    width: 100%;
    font-size: 18pt;
    color: #679b00;
}

div#small-body input.submit {
    margin-top: 10px;
    font-size: 16pt;
}

div#large-body {
    width: 600px;
    margin: 25px auto auto;
    padding: 15px;
    border: 2px solid #679b00;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #ddd;
}

div#report {
    height: 250px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

div#report p {
    font-size: 14pt;
    margin: 0 0 5px 0;
}

div#report p.cavern {
    color: #666;
}

div#report p.hazard {
    color: red;
}

div#report p.game-over {
    color: red;
}

div#report p.player {
    color: #006363;
}

div#report p.item {
    color: #85004b;
}

div#report p.error {
    color: #ff7400;
}

div#movement, div#shooting {
    display: inline-block;
    width: 50%;
    text-align: center;
    width: 206px;
}

div#decor {
    display: inline-block;
    font-size: 5pt;
    color: black;
    font-weight: bold;
    padding-left: 45px;
}

div#shooting {
    float: right;
}

div#movement h4, div#shooting h4 {
    color: #679b00;
    font-size: 16pt;
    margin-bottom: 10px;
}

div.north, div.south {
    text-align: center;
}

div.east, div.west {
    display: inline-block;
    width: 50%;
}

div.east {
    text-align: right;
}

div.west {
    text-align: left;
}

div.north a, div.south a {
    display: inline-block;
    width: 56px;
    height: 75px;
}

div.east a, div.west a {
    display: inline-block;
    width: 75px;
    height: 56px;
}

div.north a:link, div.north a:active, div.north a:visited {
    background-image: url(../images/north.png)
}

div.north a:hover {
    background-image: url(../images/north_active.png)
}

div.east a:link, div.east a:active, div.east a:visited {
    background-image: url(../images/east.png)
}

div.east a:hover {
    background-image: url(../images/east_active.png)
}

div.west a:link, div.west a:active, div.west a:visited {
    background-image: url(../images/west.png)
}

div.west a:hover {
    background-image: url(../images/west_active.png)
}

div.south a:link, div.south a:active, div.south a:visited {
    background-image: url(../images/south.png)
}

div.south a:hover {
    background-image: url(../images/south_active.png)
}
